* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;
	grid-template: auto 4fr / 1fr 4fr;
}

/* Header Contents */

.header {
	display: grid;
	grid-area: 1 / 2 / 2 / 2;
	background-color: pink;
}

#searchbar {
	height: 25px;
	border-radius: 10px;
	border: none;
}

/* Sidebar Contents */

.sidebar {
	display: grid;
	grid-area: 1 / 1 / -1 / 2;
	grid-template-rows: auto auto 1fr;
	background-color: rgb(0, 160, 255);
	box-shadow: -12px 0 20px -10px rgba(0, 0, 0, 0.3) inset;
	min-width: 200px;
}

.sidebar-contents {
	display: flex;
	flex-direction: column;
	font-weight: 900;
	font-size: 18px;
	color: white;
}

.sidebar-contents > div {
	margin: 0.5rem 1rem;
}

.sidebar-contents > div > img {
	filter: invert(1);
	vertical-align: middle;
	margin-right: 10px;
}

.logo {
	font-size: 1.5rem;
	padding-top: 1rem;
}

.logo > img {
	width: 2rem;
	margin-right: 5px !important;
}

.spacer {
	padding-bottom: 1.5rem;
}

/* Main contents */

.main {
	display: grid;
	background-color: green;
}
