@font-face {
	font-family: 'Roboto';
	src: url(./Fonts/Roboto-Regular.ttf) format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url(./Fonts/Roboto-Bold.ttf) format('truetype');
	font-weight: 900;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.container {
	display: grid;
	grid-template: auto 4fr / 1fr 4fr;
	height: 100vh;
}

/* Header Contents */

.header {
	display: grid;
	grid-area: 1 / 2 / 2 / 2;
	background-color: white;
	padding: 2vh 4vw;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.header-contents {
	display: flex;
	flex-direction: column;
	gap: 4vh;
}

.header-top,
.header-bottom {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.searchbar-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchbar-contents > svg {
	width: 1.25rem;
	margin-right: 15px;
}

#searchbar {
	height: 25px;
	width: 40vw;
	border-radius: 10px;
	border: none;
	background-color: rgb(240, 240, 240);
}

.account {
	display: flex;
	align-items: center;
	gap: 1.5vw;
}

.account > h3 {
	font-size: 1.2rem;
}

.welcome {
	display: flex;
	align-items: center;
	width: 50vw;
	gap: 1.5vw;
}

.welcome-message {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.welcome-message > p {
	font-size: 0.9rem;
}

.welcome-message > h2 {
	font-size: 1.3rem;
}

.display-picture,
.welcome > img {
	text-indent: -9999%;
	display: inline-block;
	background-color: rgb(240, 240, 240);
	border-radius: 50%;
	border: 0;
}

.display-picture {
	height: 40px;
	width: 40px;
}

.welcome > img {
	height: 65px;
	width: 65px;
}

.header-buttons {
	display: flex;
	gap: 2vw;
	align-items: center;
}

.header-buttons button {
	width: 100px;
	height: 40px;
	border-radius: 25px;
	background-color: rgb(0, 140, 255);
	color: white;
	border: none;
	font-weight: 900;
}

/* Sidebar Contents */

.sidebar {
	display: grid;
	grid-area: 1 / 1 / -1 / 2;
	grid-template-rows: auto auto 1fr;
	background-color: rgb(0, 140, 255);
	min-width: 200px;
	z-index: 2;
}

.sidebar-contents {
	display: flex;
	flex-direction: column;
	font-weight: 900;
	color: white;
}

.sidebar-contents div {
	margin: 0.5rem;
	padding-left: 1vh;
}

.sidebar-contents img {
	filter: invert(1);
	vertical-align: middle;
	margin-right: 15px;
}

.logo {
	font-size: 1.3rem;
	padding-top: 1vh;
}

.logo > img {
	width: 2rem;
	margin-right: 5px;
}

.spacer {
	padding-bottom: 2rem;
}

/* Main contents */

.main {
	display: grid;
	grid-template: 'projects announcements' min-content 'projects trending' 1fr / 4fr 1fr;
	overflow: auto;
	background-color: rgb(235, 235, 235);
	padding: 2rem;
	gap: 2rem;
}

.main h3 {
	font-size: 1.3rem;
	font-weight: 900;
	margin-bottom: 1rem;
}

.projects {
	grid-area: projects;
}

.announcements {
	grid-area: announcements;
}

.trending {
	grid-area: trending;
}

.projects-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-auto-rows: auto;
	gap: 2rem;
	padding-bottom: 2rem;
}

.card-buttons {
	display: flex;
	align-self: flex-end;
	gap: 1.5rem;
}

.card-buttons button {
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	background-color: white;
}

.card-buttons button > img {
	width: 2rem;
	vertical-align: middle;
}

.card-buttons button:hover {
	transform: scale(1.1);
}

.card {
	display: flex;
	background-color: white;
	border-radius: 10px;
	padding: 1.5rem;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.projects .card {
	border-left: 10px solid rgb(255, 200, 0);
	flex-direction: column;
}

.announcements .card {
	flex-direction: column;
}

ul {
	list-style-type: none;
}

.announcement + .announcement,
.trending-account + .trending-account {
	margin-top: 1.5rem;
}

.announcement-spacer {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.trending-box {
	display: flex;
	flex-direction: column;
}

.trending-account {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.account-inner {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.account-text {
	color: rgb(110, 110, 110);
}

.account-inner > p {
	font-size: 0.9rem;
}
